.App-nav {
  text-align: center;

}

.App-nav li {
  display: inline-block;
  list-style: none;
  margin: 10px;
  padding: 0;
}
.App-nav a {
  text-decoration: none;
  color: #000;
}
.App-nav a.active{
  color: red;
  display: inline-block;
  padding: 5px 0;
  border-bottom: 1px solid red;

}
.App-nav ul {
      float: right;
}
